<div id="<%= dom_id event_card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Event:</strong>
    <%= event_card.event_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Card:</strong>
    <%= event_card.card_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= event_card.order %>
  </p>

</div>
