<div class="h-screen bg-white px-3 py-3">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Cards" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Cards</h1>
    <%= link_to "New card", new_card_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  
  <hr class="my-3 border-gray-300 w-full">

  <div id="cards" class="min-w-full flex gap-2 flex-wrap justify-center">
    <% @cards.each do |card| %>
    <%= link_to card, class: "block hover:bg-gray-200 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow" do %>
      <%= render card %>
      <hr class="my-3 border-gray-300 w-full">
      <%# <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by step guideline process on how to certify for your weekly benefits:</p> %>
    <% end %>
    <% end %>
  </div>
</div>
